@model CleanArc.Application.Services.Projects.ViewModels.ProjectAddViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="formBody">
    <div asp-validation-summary="ModelOnly" class="validation"></div>

    <label asp-for="Name">Name </label>
    <input asp-for="Name" type="text" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="DepartmentId" style="display:block"> Department</label>
    <select asp-for="DepartmentId"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="departmentDD">
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>

    <br />
    <label asp-for="CedacriInternationalRUser"> Cedacri Interantional User</label>
    <select asp-for="CedacriInternationalRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userInterDD">
    </select>
    <span asp-validation-for="CedacriInternationalRUser" class="text-danger"></span>

    <br />
    <label asp-for="CedacriItalyRUser"> Cedacri Italy User</label>
    <select asp-for="CedacriItalyRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userItalyDD">
    </select>
    <span asp-validation-for="CedacriItalyRUser" class="text-danger"></span>

    <label id="urlLable" style="display:block" hidden> Url List</label>
    <div id="urlList"></div>


</div>


@section Scripts{

    <script>
        var urlNum = 0;
        var urlId = 0;
        $(document).ready(function () {

            getDropDown(null, "departments", function (data) {
                appendDataDropDown(data.responseValue, null, "#departmentDD")
            });
            getDropDown(null, "users", function (data) {
                appendDataDropDown(data.responseValue, null, "#userInterDD")
            });
            getDropDown(null, "users", function (data) {
                appendDataDropDown(data.responseValue, null, "#userItalyDD")
            });

        });
        function AddUrlTemplate() {
            $("#urlLable").attr("hidden", false);
            var urltemplate =
                '<div type="text" class="input-group urlTemplate" id="url' + urlId + '">' +
                    '<input name="Inputurl' + urlId + '" type="text" id="Inputurl' + urlId + '" class="form-control urlValueInput"/>' +
                    '<select name="DDurl' + urlId + '" asp-data-style="btn-select" class="custom-select input-group-append urlTypeDD" id="DDurl' + urlId + '" ></select>' +
                    '<button type="button" class="btn btn-danger input-group-append" onclick="DeleteUrl(' + urlId + ')"><i class="fas fa-trash"></i></button>' +
                '<span id="Inputurl' + urlId + '-error" class="input-validation-error text-danger errSpanInput"> </span>' +
                '<span id="DDurl' + urlId + '-error" class="input-validation-error text-danger errSpanDD"> </span>' +
                '</div >';
            var ddNum = urlId;

            getDropDown(null, "projects", function (data) {
                appendDataDropDown(data.responseValue, null, "#DDurl" + ddNum)
            });

            urlNum++;
            urlId++;
            $('#urlList').append(urltemplate);
        }

        function DeleteUrl(urlId) {
            urlNum--;
            $("#url" + urlId).remove();
            $("#Inputurl" + urlId + '-error').remove();
            $("#DDurl" + urlId + '-error').remove();
            if (urlNum == 0) {
                $("#urlLable").attr("hidden", true);
            }
        }

    </script>
}